/* Initial CSS stolen from "BetterMotherFuckingWebsite.com" */
/* http://bettermotherfuckingwebsite.com/ */

* {
    text-justify: inter-character;
    text-wrap-style: pretty; /* Will this make a difference?  No idea, but I have to try! */
    font-optical-sizing: auto; 
}
body {
    margin:40px auto; /* Do i want this? */
    /* max-width:650px; */
    max-width: max(60vw, 650px); /* We want the bigger of the two, since absolute units get us a new headache. */
    line-height:1.2; /* changed from 1.6 */
    /* font-size:18px; */
    font-size: 1.2em; /* calculated in FF, works okay. */
    font-family: "Junicode"; 
    color:#444;
    padding-top: 0;
    padding-bottom: 1em;
}
/* Automatic CSS numbering for footnotes? */
/* https://www.stevans.org/inline-footnotes/ */

/* CSS to do multiple inlined images side by side; seems to work (PHEW!) */
/* It's a mess, but I'll take a mess to non-functional. */
figure {
    margin: 0;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}

figure:has(img+img) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

figure:has(img+img) img {
    flex:1 1 0;
    width:auto;
    min-width: 0;
}

figure:has(img+img) figcaption {
    flex-basis: 100%; /* This fixes the captions not wrapping to the next line I think */
}

figure figcaption {
    margin-top: 0.2em; /* Used to get just a bit of breathing room. */
}

/* Inset it so it's obviously distinguishable as a quote. */
blockquote {
    margin-left: 0.2em; /* just so the color bar isn't crushed. */
    margin-right: 0.2em;

    padding-left: min(1vw, .5em);
    padding-right: min(1vw, .5em);
}

blockquote.lily {
    border-left: 0.2em solid #F2D008 !important;
}

cite {
          letter-spacing: 0.05rem; /* Just to fix the italics here.*/
}
/* Soul Gem / Quintet Representation in list-items.  very silly, do not use. */
ul {
    padding-top: 0;
    line-height: 1.2;
    list-style-type: "⋄"; /* Used to specify the symbol for lists instead of the traditional dots. */
}

ul ul {  
    list-style-type: "ꨄ︎";
}

ul ul ul {
    list-style-type: "✿";
}

h1,h2,h3 {
    line-height:1.2;
}

p {
    margin-block-start: .5em;
    margin-block-end: .5em;
    hanging-punctuation: first; /* https://www.carmenansio.com/articles/editorial-typography-css/ */
}

/*  */

hr {
  border: none;
  border-top: .1em solid #333333;
  color: #333333;
  overflow: visible;
  text-align: center;
  height: 0.05em;
}

hr::after {
  background: white;
  content: "୨୧";
  padding: 0 1em;
  position: relative;
  top: -0.5em;
}

/* Junicode Font, used for PMMM Essays */

@font-face {
    font-family: 'Junicode'; /* regular */
    src: url('fonts/junicode/Junicode.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode'; /* italic */
    src: url('fonts/junicode/Junicode-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode'; /* bold */
    src: url('fonts/junicode/Junicode-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode'; /* bold italic */
    src: url('fonts/junicode/Junicode-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}