body {
    margin:40px auto;
    max-width:900px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
}
    
h1,h2,h3{
  line-height:1.2
}
    
pre code {
      background-color: #eee;
      border: 1px solid #999;
      display: block;
      padding-top: 0px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      white-space: pre;
}

.inline {
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  max-width: 80%;
}

/* Styling below lifted with care from:
https://tris.fyi/blog/mbta-cab-signaling-indicator.html
*/

details {
  border: 1px solid purple;
  border-radius: .5em;
  padding: .5em;
  margin: .5em 0;
}